<!DOCTYPE html>
{% extends 'elsysapp/base.html' %}
{% block content %}
{% load static %}

<title>BANE 1</title>
<meta http-equiv="refresh" content="10">

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="{% static 'Bane.png' %}" alt="forside" style="width:100%;height:100%;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-red" title="Go To W3.CSS">BANE 1</button>
    </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-red w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-red w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-red" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-red">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- Bane -->


<div class="w3-container w3-padding-64 w3-theme-l5" id="tabell">
<table class="skygge">
    <tr>
      <th></th>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>Totalt</th>
    </tr>
    <tr>
      <th style="background-color:rgba(255, 0, 0, 0.932)">Lag A</th>
      <td><img src="{% static 'Hammer.png' %}" alt="Hammer" width="70" height="60" style="vertical-align:middle"></td>
      <td>{{file_content.0}}</td>
      <td>{{file_content.2}}</td>
      <td>{{file_content.4}}</td>
      <td>{{file_content.6}}</td>
      <td>{{file_content.8}}</td>
      <td>{{file_content.10}}</td>
    </tr>
    <tr>
      <th style="background-color:rgba(233, 229, 10, 0.938)">Lag B</th>
      <td><img src="{% static 'Uten hammer.png' %}" alt="Uten hammer" width="80" height="70" style="vertical-align:middle"></td>
      <td>{{file_content.12}}</td>
      <td>{{file_content.14}}</td>
      <td>{{file_content.16}}</td>
      <td>{{file_content.18}}</td>
      <td>{{file_content.20}}</td>
      <td>{{file_content.22}}</td>
    </tr>
  </table>
  </div>

  

  {% endblock %}

